:root {
  --c0r1: #11ace2;
  --c0r2: #46d0f4;
  --c0r3: #141414;
  --c0r4: #fefefe;
  --c0r5: #d6f7ff;
  --c0r6: #a3a3a3;
}

.footer {
  background: #000000;
  color: var(--c0r6);
}

.footer-container {
  max-width: 1200px;
  padding: 120px 20px 60px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 100px;

}

.footer-texto {
  font-size: 1.5rem;
  line-height: 1,33;
  color: var(--c0r6);
}

.footer-contato li {
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 30px;
  color: var(--c0r4);

}

.footer li a {
  text-decoration: none;
  color: var(--c0r4);
  padding: 10px 20px 10px 0px;
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
    gap: 40px;
  }
  .footer-contato li {
    font-size: 1.5rem;
  }
}