:root {
  --c0r1: #11ace2;
  --c0r2: #46d0f4;
  --c0r3: #141414;
  --c0r4: #fefefe;
  --c0r5: #d6f7ff;
  --c0r6: #a3a3a3;
}

.introducao {
  max-width: 1200px;
  padding: 40px 20px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  align-items: center;
  
}
.introducao h1 {
  font-size: 4.5rem;
  margin-bottom: 30px;
  line-height: 1.25;
  color: var(--c0r3);
  position: relative;
} 
.introducao h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 100px;
  background: url("../img/detalhe.svg") no-repeat center;
  position: absolute;
  top: -15px;
  left: -40px;
  z-index: -1;
}

.introducao img {
  max-width: 100%;
  height: auto;
  box-shadow: 2px 2px 2px var(--c0r3);
  margin-bottom: 50px;
  border-radius: 4px
}
.introducao p {
  font-size: 1.5rem;
  color: var(--c0r6);
}

@media (max-width: 1000px) {
  .introducao h1 {
    font-size: 3rem;
  }
  .introducao h1::before {
    width: 30px;
    height: 10px;
    left: 0px;
  }

}

@media (max-width: 800px) {
  .introducao { 
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
  .introducao h1 {
    font-size: 2rem;
  }


}
@media (max-width: 500px) {
  .introducao {
    grid-template-columns: 1fr;
  }
}


  
  





